@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');
body{
    background: #0E0F18;
    color: aliceblue;
}

.main-section{
    width: calc(100% - 400px);
}

.nav-tab{
    height: 70px;
    border-bottom: 1px solid #787878;
    font-family: 'Inter',sans-serif;
}

.tabs{
    height: fit-content;
    margin: auto -1rem auto 6rem;
    position: relative;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;

}



.tabs-sel::before{
    content: '';
    position: absolute;
    background-color:  #2A3690;
    top: 110%;
    left: -18px;
    height: 3.5px;
    width: 80px;
}

.graph-info{
    margin: 0px 3rem;
}
.coin-name{
    margin:  0.5rem 4rem 0 4rem !important;
    border-radius: 10px;
}

.long-short-enclosure{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 24vh;
    width: 400px;
    background: #000614;
    padding: 30px;
    border-radius: 0 10px 10px 0px;
}
.trade-graph-enclosure{
    padding: 1.5rem;
    background: rgba(172, 105, 255, 0.38);
    border-radius: 14px;
    margin: 0.5rem 4rem;
}
.trade_chart{
    background-color:000614 ;
    padding: 1.5rem;
    background: #000614;
    margin: 0.5rem 4rem;
    height: 40vh;
  }
.history-enclosure{
    padding: 1.5rem;
    background: #000614;
    margin: 0.8rem 4rem 0.5rem 4rem;
    border-radius: 10px;
    min-height: 29vh;
    max-height: 250px;
}

.custom_btn{
    color: antiquewhite;
  border: 1px solid #384BD9;
  border-radius: 30px;
  transition: 0.125s linear;
  background: transparent;
  width: 140px;
  height: 40px;
  margin-top: 1rem;
  margin-right: 3rem;
}

.custom_btn:hover{
  color: white;
  background-color: #384BD9;
  border-color: #384BD9;
  box-shadow: 0px 0px 24px -2px #384BD9;
}
