@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap');

.historylist {
    height: 130px;
    max-height: 130px;
    overflow: scroll;
    margin: auto;
    padding-left: 0px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    font-size: 14px;
    /* border-right: 1px solid antiquewhite; */
  }

  .long-short-btns button{
    padding: 5px 3rem;
  }


  
  .txn_elements {
    display: flex;
    border-bottom: 1px solid #212121;
    padding: 2px 20px;
    color: white;
    height: 47px;
  }
  
  .txn-head {
    height: 55px;
    padding: 0px !important;
  }
  
  .txn_item {
    margin: auto;
    width: 120px;
    text-align: center;
  }
  
  .list-heading {
      background: #141724;
    }
    
    .txn_elements{
      /* border-bottom: 1px solid wheat; */
  }
  
  .list-heading ul {
    margin-bottom: 0px;
  }
  
  .historylist .txn_elements {
    background: #141724;
  }
  
  .historylist::-webkit-scrollbar {
    width: 12px;
  }
  
  .historylist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  .historylist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  
  .exchangelist-options ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    border-bottom: 1px solid #000;
    padding: 0px 20px;
    color: grey;
  }
  
  .exchangelist-options li {
    width: calc(100%/8);
    /* margin: auto; */
    height: 57px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
  }
  
  .exchangelist-options li:hover {
    opacity: 0.8;
  }


  .tradedetailsbtn{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgb(130, 127, 127);
    font-weight: 600;
    margin-right: 20px;

  }
  .activeButton{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: rgb(170, 165, 165);
    font-weight: 600;
    margin-right: 20px;
    
  }
  .trading_details{
    overflow-y: scroll;
    max-height: 250px !important;
  }
  .trading_details thead{
    font-family: "Inter", sans-serif;
    color: rgb(174, 158, 158);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  .trading_details th{
    text-align: center;
    font-size: 12px;
  }
  .trading_details tbody{
    color: rgb(174, 158, 158);
    border:none !important;
    overflow-y: scroll !important;
  }
  .trading_details td{
    text-align: center;
    font-size: 10px;
  }
  .trading_details tr button{
    text-align: center;
    font-size: 10px;
  }



tbody {
  max-height: 150px !important;
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
@media screen and (max-width:4000px) and (min-width:1920px){
  .trading_details td{
    font-size: 1rem !important;
  }
  .trading_details tr button{
    font-size: 1rem !important;
  }
  .trading_details th{
    font-size: 1rem !important;

  }
  .tradedetailsbtn{
    
    font-size: 22px;
  }
  
}

@media screen and (max-width:766px) and (min-width:270px) {

  tbody {
      min-height: 12vh;
      width: 100%;
      overflow-x: visible;
  }
  .trading_details{
    overflow-y: scroll;
    max-height: auto !important;
  }

  .trading_details th{
    text-align: center;
    font-size: 11px;
    width: 100px;
  }
  .trading_details td{
    text-align: center;
    font-size: 10px;
    width: 100px;
  }
}